<%- contentFor('body') %>

<% const messages = getMessages() %>

<% if (messages.updateError) { %>
  <ul>
    <% messages.updateError.forEach(error => { %>
      <li><%= error %></li>
    <% }) %>
  </ul>
<% } %>

<div>
  <a
    class="logout"
    href="/logout">
    Logout
  </a>
  <!-- update info user -->
  <form action="/blog/update-account?_method=PUT" method="POST">
    <input
      id="name"
      type="text"
      name="name"
      maxlength="255"
      placeholder="type your full name"
      value="<%= user.name %>"
      required>
    <input
      id="email"
      type="email"
      name="email"
      maxlength="255"
      placeholder="example@email.com"
      value="<%= user.email %>"
      required>
    <button
      type="submit"
      class="update-account">
      Update info
    </button>
  </form>
  <!-- destroy info user -->
  <form action="/blog/delete-account?_method=DELETE" method="POST">
    <button
      type="submit"
      class="remove-account">
      Delete account
    </button>
  </form>
  <% if (messages.postSucess) { %>
    <div>
      <strong><%= messages.postSucess %></strong>
    </div>
  <% } %>
  <!-- create a new post -->
  <form action="/posts" method="POST">
    <input
      id="title"
      type="text"
      name="title"
      maxlength="255"
      placeholder="Title of post..."
      required>
    <br>
    <input
      id="category"
      type="text"
      name="category"
      maxlength="50"
      placeholder="Category of post"
      required>
    <br>
    <textarea
      id="content"
      name="content"
      placeholder="Write your ideas"
      cols="30"
      rows="10"
      required></textarea>
    <br>
    <button
      type="submit"
      class="create-post">
      Create new Post
    </button>
  </form>
  <div>
    <span>Since <%= since %></span>
  </div>
  <% if (posts) { %>
    <% posts.forEach(post => { %>
      <div>
        <strong>
          <%= post.title %>
        </strong>
        <article>
          <p><%= post.content %></p>
        </article>
        <span>
          <%= post.updatedAt %>
        </span>
        <span>
          <%= post.createdAt %>
        </span>
        <a href="/posts/<%= post.tag %>">update post</a>
        <form action="/posts/delete?_method=DELETE" method="POST">
          <input
            name="id"
            value="<%= post.id %>"
            type="hidden">
          <button
            type="submit"
            class="remove-post">
            Delete my post
          </button>
        </form>
      </div>
    <% }) %>
  <% } %>
</div>
