<%- contentFor('stylesheet') %>
<link rel="stylesheet" href="/css/blog.css">

<%- contentFor('body') %>
<section class="user-info column">
  <div>
    <span class="name">
      <strong><%= user.name %></strong>
    </span>
    <span class="email">
      <<em><%= user.email %></em>>
    </span>
  </div>
  <span class="total-posts">
    The author has published <%= posts.length %> posts from this subscription.
  </span>
</section>

<section class="posts">
  <% if (posts) { %>
    <% posts.forEach(post => { %>
      <div class="wrapper">
        <div class="column">
          <strong class="title">
            <%= post.title %>
          </strong>
          <span class="category">
            -- <%= post.category %>
          </span>
        </div>
        <article class="content">
          <p><%= post.content %></p>
        </article>
        <div class="space-between">
          <span class="updated-at">
            last updated at <%= post.updatedAt %>
          </span>
          <span class="created-at">
            created at <%= post.createdAt %>
          </span>
        </div>
      </div>
    <% }) %>
  <% } %>
</section>
